# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/

# Data
data/raw/
data/processed/
outputs/

# Models
models/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Streamlit
.streamlit/
